<% provide(:title, 'about') %> 

<h1>About pfitmap</h1> 

<p>Work in progress: We aim at delivering <u>p</u>rotein <u>fit</u>ness
<u>map</u>s as a visualisation tool for protein sequence and structure
conservation.</p>
